// Variable overrides
$white-color: #fff;
$primary-color: #002133;
$secondary-color: #365E83;
$black-color: #000;
$grey-color: #4A4A4A;
$dark-grey-color: #222222;
$light-grey-color: #787878;
$font-size: 14px;
$font-weight: 500;
$line-height: 17px;
$input-height: 32px;
$font-family: 'Gilroy', sans-serif;
$font-family-md: 'Gilroy-Medium', sans-serif;
$font-family-bold: 'Gilroy-Bold', sans-serif;
